.RouteActionData {
  padding-top: 20px;
}

.RouteActionData_listing {
  width: 60vw;
  /*height: 50vh;*/
  background-color: lightyellow;
  border: 1px solid darkgray;
  border-radius: 2px;
  font-family: 'JetBrains Mono', Menlo, Consolas, monospace;
  font-size: 11px;
  line-height: 13px;
}

.RouteActionData_text {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-size: 12px;
}
